{% comment %}
    @param product
{% endcomment %}

{%- for variant in product.variants -%}
	{% assign variant_title = variant.title | downcase %}
	{% if variant_title contains '1 pack' %}
		{% assign pack_1 = variant %}
	{% elsif variant_title contains '3 pack' %}
		{% assign pack_3 = variant %}
	{% elsif variant_title contains '12 pack' %}
		{% assign pack_12 = variant %}
	{% endif %}
{%- endfor -%}

<style>
    /* ========================= */
    /* == Loader == */
    /* ========================= */
    @keyframes rotation {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        transform: translate(-50%, -50%) rotate(0deg);

        width: 48px;
        height: 48px;
        border: 5px solid #1F5C8A;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: none;
        pointer-events: none;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    .product__information.disabled {
        opacity: 0.5;
        pointer-events: none;

        .loader {
            display: inline-block;
            pointer-events: auto;
        }
    }

    .d-flex {
        display: flex;
    }

    .justify-between {
        justify-content: space-between;
    }

    .flx {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile {
        display: none;
    }

    .product__information .title {
        font-size: 32px;
        color: #333;
        font-weight: 400;
        font-family: "Instrument Serif", serif !important;
        width: 100%;
        text-align: center;
    }

    .product__information > *:nth-child(2) {
        align-items: stretch;
    }

    .product__information.one-half {
        width: 60%;
        margin: 0;
        padding-left: 20px;
    }

    .product__images.one-half {
        width: 40%;
        margin: 0;
    }

    .product_name + .flx {
        margin-bottom: 15px;
    }

    .stamped-product-reviews-badge {
        margin-bottom: 10px !important;
    }

    .product__information .middle-block {
        margin-bottom: 20px;
    }

    .product__information .middle-block p {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        line-height: 1.5;
        color: #333;
    }

    .product__information .description {
        display: none;
    }

    .is-width-standard .product_section .shopify-product-form {
        color: #1e415f;
    }

    .stamped-badge-caption span {
        color: #000;
    }

    .product__information .product_name.title {
        font-size: clamp(2.5rem, 1.929rem + 1.19vw, 3rem);
        text-align: left;
        margin-bottom: 12px;
        letter-spacing: 0;
    }

    .product__information .subtitle {
        font-size: 20px;
        margin-top: 0 !important;
        color: #333;
        font-family: 'Inter', sans-serif !important;
        letter-spacing: 0;
    }

    .checkmark {
        padding: 0 20px;
        margin-top: 30px;
    }

    .checkmark li {
        display: flex;
        width: 100%;
        text-align: left;
        font-size: 12px;
        color: #1e415f;
        margin-bottom: 8px;
    }

    .checkmark li::before {
        content: '';
        background-image: url(https://i.ibb.co/2W120Wv/cil-check-circle.png);
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-right: 5px;
        vertical-align: middle;
        background-repeat: no-repeat;
        font-size: 12px;
    }

    .checkmark li span {
        box-sizing: border-box;
        position: absolute;
        background: #fff;
        box-shadow: 0 2px 6px rgb(0 0 0 / 25%);
        top: calc(100% + 15px);
        width: 180px;
        margin: 0 0 5px 0;
        padding: 9px 12px;
        border-radius: 4px;
        white-space: normal;
        font-size: 10px;
        font-style: normal;
        text-align: center;
        color: #1e415f;
        display: block;
        z-index: 20;
        transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
        transform: rotateX(20deg) scale(0.8);
        transform-origin: 90% 120%;
        visibility: hidden;
        opacity: 0;
        transform-origin: center 120%;
        right: 50%;
        margin-right: -90px;
    }

    .checklist {
        font-family: "Inter", sans-serif;
        color: #333;
        list-style: none;
        font-size: 16px;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: -0.32px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
        row-gap: 17px;

        margin-bottom: 32px;
    }

    .checklist li {
        display: flex;
        align-items: center;
    }

    .checklist li::before {
        content: url("{{'teenyicons_tick-circle-outline.svg' | asset_url }}");
        margin-right: 8px;
    }

    .swatchCustom__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 10px 0;
        padding: 10px;
        background: #ffffff;
        border: 2px solid transparent;
        border-radius: 10px;
        color: #1e415f;
        cursor: pointer;
    }

    .swatchCustom__item.swatchCustom__item--active {
        cursor: default;
        background: #f1f7fc;
        border: 2px solid #4090d1;
    }

    .swatchCustom span {
        display: block;
    }

    .swatchCustom__item--first .week {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: block;
    }

    .swatchCustom__item--first .days {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
    }

    .swatchCustom__item--second {
        display: flex;
        align-items: flex-end;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-decoration-line: line-through;
        color: rgba(30, 65, 95, 0.7);
    }

    .swatchCustom__item--third {
        text-align: right;
    }

    .swatchCustom__item--third .sale {
        color: #f27113;
        font-size: 12px;
        display: block;
    }

    .swatchCustom__item--third .price {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
    }

    .shipping-inner {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background: #f5f6f7;
        border-radius: 22px;
    }

    .is-width-standard .on-free-shipping-label {
        background: #4090d1;
        border-radius: 5px;
        color: #fff;
        padding: 5px;
        font-size: 12px;
    }

    .on-pack-wrapper {
        margin-bottom: 10px;
    }

    .on-select {
        background: none;
        width: 51%;
        border: none;
        color: inherit;
        text-decoration: underline;
        font-weight: 500;
        font-size: 13px;
    }

    .on-select:focus {
        outline: none !important;
    }

    .custom-select {
        width: 65%;
    }

    .stock {
        margin: 10px 0;
    }

    .stock__header {
        font-family: Roboto;
        font-style: normal;
        color: #29c470 !important;
        font-weight: 700 !important;
        font-size: 16px !important;
        line-height: 19px !important;
        margin: 10px 0;
    }

    .subscribe-custom {
        display: flex;
        align-items: center;

        cursor: pointer;

        .subscribe-custom__header {
            color: #333;
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0;
        }
    }

    .subscribe-custom__checkbox {
        width: 16px;
        height: 16px;
        margin: 0 8px 0 0;
    }

    .total_price {
        font-weight: 400;
        color: #333;
        font-size: clamp(2rem, 1.714rem + 0.6vw, 2.25rem);
        margin-bottom: 32px;
        line-height: 1.2;
        font-family: 'Instrument Serif', serif !important;
    }

    .free-shipping-label {
        display: inline-block;
        color: white;
        background-color: #4090d1;
        border-radius: 5px;
        padding: 7px;
        font-size: 12px;
        margin-bottom: 20px;
        font-weight: 500;
        width: fit-content;
    }

    .country_select {
        background: none;
        border: none;
        font-weight: 500;
        font-size: 13px;
        display: inline-block;
        text-decoration: underline;
        color: #1e415f;
        width: fit-content;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding-right: 10px;
    }

    .for_country_select {
        position: relative;
    }

    .for_country_select::after {
        content: '';
        display: block;
        background: url("{{'expandmore.svg' | asset_url }}") center center no-repeat;
        background-size: contain;
        width: 12px;
        height: 6px;
        position: absolute;
        top: 50%;
        right: 3px;
        transform: translateY(-50%);
    }

    .delivery_date {
        font-size: 14px;
        margin-bottom: 25px;
        display: inline-block;
        color: #1e415f;
    }

    .to_checkout {
        padding: 13px 28px;
        border-radius: 10px;
        background: #1F5C8A;
        width: 100%;
        border: none;
        cursor: pointer;
        color: #FFF;
        font-family: "Instrument Serif", serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        transition: opacity .3s linear;
        text-transform: none;

        &:hover {
            opacity: 0.9;
        }

        &:focus {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.7;
        }
    }

    @media (max-width: 1024px) {
        .swatchCustom__item--active {
            background: rgba(64, 144, 209, 0.1);
            opacity: 1;
            border: 2px solid #4090d1;
        }

        .swatchCustom__item--active .close_btn {
            position: absolute;
            top: -30px;
            right: 20px;
            font-weight: bold;
            font-size: 16px;
            color: #ffffff;
            text-transform: uppercase;
        }
    }

    @media (max-width: 768px) {
        .is-width-standard .product_section {
            flex-direction: column;
        }

        .product__information.one-half {
            width: 100%;
            padding-left: 0;
        }

        .product__images.one-half {
            width: 100%;
        }

        .subscibe-custom__info {
            max-width: 225px;
        }

        .product__information.column {
            margin: 0;
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        .checklist {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .loader_custom {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0 0 0 / 50%);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 100000;
    }

    .loader_custom.active {
        display: flex;
    }

    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }

    .lds-dual-ring:after {
        content: ' ';
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    /*** new style ***/
    .parent-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        margin-bottom: 20px;
    }

    .product__information {
        position: relative;
    }

    .product__information .swatchCustom__item_new {
        position: relative;

        padding: 24px 16px 16px !important;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid #CDCABD;

        .swatchCustom__item_new__wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .swatchCustom__item_new__month {
            color: #65645F;
            font-family: Inter, sans-serif;
            font-size: 14px;
            line-height: 1;
            letter-spacing: -0.28px;
            margin-bottom: 8px;
        }

        .swatchCustom__item_new__strips {
            color: #333;
            font-family: "Instrument Serif", serif;
            font-size: 28px;
            font-weight: 400;
            line-height: 1.1;
            margin-bottom: 16px;
        }

        .swatchCustom__item_new__benefits {
            margin-top: 16px;
            margin-bottom: 22px;

            .swatchCustom__item_new__benefit-item {
                color: #65645F;
                font-family: Inter, sans-serif;
                font-size: 13px;
                line-height: 1;
                letter-spacing: -0.28px;

                display: flex;
                align-items: center;
                gap: 5px;

                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .swatchCustom__item_new:not(.active) {
        .subscribe-custom {
            pointer-events: none;
        }
    }

    .swatchCustom__item_new__footer {
        margin-top: 17px;
    }

    @media (max-width: 1024px) {
        .product__information .swatchCustom__item_new {
            padding: 16px !important;
        }

        .parent-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    @media (max-width: 768px) {
        .product__information .swatchCustom__item_new {
            width: 100%;

            .swatchCustom__item_new-label {
                top: 8px;
            }

            .swatchCustom__item_new__benefits {
                margin-bottom: 0;
            }
        }
    }

    .swatchCustom__item_new-label {
        position: absolute;
        top: -15px;
        right: 16px;
        padding: 8px;
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        color: #415B6F;
        background-color: #DFE6FA;
        border-radius: 6px;
    }

    .swatchCustom__item_new-label--most-popular {
        color: #514D70;
        background-color: #E2E1F1;
    }

    .swatchCustom__item_new-label--best-value {
        color: #716E20;
        background-color: #E3E5BC;
    }

    .product__information .swatchCustom__item_new.active {
        border-color: #1F5C8A;
    }

    .product__information .item_total {
        font-family: "Instrument Serif", serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 26px;
        color: #333;
    }

    .item_total__savings {
        display: inline-block;

        padding: 4px 6px;
        margin-bottom: 6px;

        border-radius: 4px;
        background: #E3E1D8;

        color: #65645F;
        text-align: center;
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
    }

    .product__information .l-through {
        text-decoration-line: line-through;
        color: #A2A096;
    }

    .months {
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        color: #1e415f;
    }

    .product__information .purchase-notice {
        margin-top: 20px;
        color: #333;
        text-align: center;
        display: block;
        font-family: Inter, sans-serif;
        font-size: 14px;
        line-height: 1;
        letter-spacing: -0.28px;
    }
</style>

<div class="flx desktop">
	<div class="part1 gray_bg">
		{% comment %} Review stars {% endcomment %}
		<div class="flx">
        <span
		        class="stamped-product-reviews-badge stamped-main-badge"
		        data-id="{{ product.id }}"
		        style="display: inline-block;"
        >
        {{- product.metafields.stamped.badge -}}
        </span>
		</div>
		{% comment %} Name {% endcomment %}
		<h1 class="product_name title">{{ product.title }}</h1>
		<h2 class="subtitle">The Original Mouth Tape&#8482;</h2>
		<div class="d-flex justify-between">
			<p class="total_price">
				<span>{{ pack_3.price | money }}</span>
			</p>
		</div>

		<ul class="checklist">
			<li>Stop mouth breathing</li>
			<li>Maximize CPAP compliance</li>
			<li>Improve oral health</li>
			<li>Reduce snoring</li>
			<li>Prevent dry mouth</li>
			<li>Wake up refreshed</li>
		</ul>

		<div class="middle-block">
			<p>Select your plan:</p>
		</div>

		<div class="parent-items">
      {% assign checkoutButtonPrice = product.price | money %}
      {% for variant in product.variants %}
				{% assign comparePrice = variant.compare_at_price | plus: 0 %}
				{% assign price = variant.price | plus: 0 %}

				{% assign active = '' %}
				{% assign price_week = '' %}
				{% assign benefits = '' %}

        {% assign isSelected = false %}

				{% if variant.title contains '12 Pack' %}
					{% assign strips = '364' %}
					{% assign month = '12 months' %}
					{% assign compare = comparePrice | money %}
					{% assign price_week = variant.price | divided_by: 52.0 | round: 2 | money %}
					{% assign label = 'Best value' %}
					{% assign labelClass = 'best-value' %}
					{% assign planId = '2086633587' %}
          {% assign isSelected = false %}

				{% elsif variant.title contains '3 Pack' %}
          {% assign checkoutButtonPrice = price %}
					{% assign strips = '84' %}
					{% assign month = '3 months' %}
					{% assign compare = comparePrice | money %}
					{% assign price_week = variant.price | divided_by: 12.0 | round: 2 | money %}
					{% assign label = 'Most popular' %}
					{% assign labelClass = 'most-popular' %}
					{% assign planId = '2086568051' %}
					{% assign benefits = "Modify or cancel anytime, Free shipping, Auto ships (every 3 months)" %}
          {% assign isSelected = true %}

				{% elsif variant.title contains '1 Pack' %}
					{% assign strips = '28' %}
					{% assign compare = '' %}
					{% assign price_week = variant.price | divided_by: 4.0 | round: 2 | money %}
					{% assign month = '1 month' %}
					{% assign label = 'Best for beginners' %}
					{% assign labelClass = 'best-for-beginners' %}
					{% assign planId = '' %}
				{% endif %}

				{% if variant.title == '3 Pack' %}
					{% assign active = 'active' %}
				{% endif %}

				{% assign extra = '' %}

				{% if variant.title contains 'Extra' %}
					{% assign extra = 'swatchCustom__item_new__extra' %}
				{% endif %}

				<div
						class="
            swatchCustom__item_new {% if variant.title contains " 1 Pack" %} nosale {% endif %}
            {{ active }} {{ extra }}
          "
						data-variant="{{ variant.id }}"
						data-title="{{ variant.title }}"
						data-price="{{ price | divided_by: 100.0 }}"
						data-planid="{{ planId }}"
						data-label="{{ label }}"
						data-labelclass="{{ labelClass }}"
						data-month="{{ month }}"
						data-compare="{{ compare }}"
						data-strips="{{ strips }}"
				>
          {% assign originalPrice = price | divided_by: 100.0 %}
          {% assign subscriptionDiscount = 10 %}
          {% assign discountFactor = subscriptionDiscount | divided_by: 100.0 %}
          {% assign discountAmount = originalPrice | times: discountFactor %}
          {% assign discountedPrice = originalPrice | minus: discountAmount | round: 2 %}
          {% assign savings = comparePrice | minus: variant.price %}
					<span class="swatchCustom__item_new-label swatchCustom__item_new-label--{{ labelClass }}">{{ label }}</span>
					<div class="swatchCustom__item_new__wrapper">
						<div class="swatchCustom__item_new__header">
							<div class="swatchCustom__item_new__month">{{ month }}</div>
							<div class="swatchCustom__item_new__strips">{{ strips }} mouth strips</div>
                            {% if month != '1 month' %}
                                <label
                                  class="subscribe-custom"
                                  data-original-price="{{ originalPrice }}"
                                  data-discount-price="{{ discountedPrice }}"
                                  data-original-savings="{{ savings | money }}">
                                    <input class="subscribe-custom__checkbox {% if isSelected %}subscribe-custom__checkbox--checked{% endif %}" type="checkbox">
                                    <h5 class="subscribe-custom__header">Subscribe & save</h5>
                                </label>
                            {% endif %}
						</div>

						<div class="swatchCustom__item_new__body">
							{% if benefits != blank %}
								<div class="swatchCustom__item_new__benefits">
									{% assign benefits_list = benefits | split: ", " %}
									{% for benefit in benefits_list %}
										<div class="swatchCustom__item_new__benefit-item">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="4" viewBox="0 0 5 4" fill="none">
                                                <circle cx="2.83301" cy="2" r="2" fill="#65645F"/>
                                            </svg>
                                            {{ benefit }}
                                        </div>
									{% endfor %}
								</div>
							{% endif %}
						</div>

						<div class="swatchCustom__item_new__footer">
							<div class="item_total">
								{% if variant.title != '1 Pack'
								and variant.title != '1 Pack / Gentle'
								and variant.title != '1 Pack / Extra'
								-%}
                                    {% if savings > 0 %}
                                        <span class="item_total__savings js_item_total__savings">Save <span class="js_item__savings">{{ savings | money }}</span></span>
                                    {% endif %}
                                    <div class="item_total__price_wrapper">
                                        <span class="js_item__total_price">{{ price | money }}</span>
									    <span class="l-through js_item__compare_price"> {{ compare }} </span>
                                    </div>
                                {% else %}
                                    <span>{{ price | money }}</span>
								{%- endif %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<button class="to_checkout" data-product="{{ product.id }}" data-ajax-cart-trigger>Add to cart <span class="to_checkout__price">{{ checkoutButtonPrice | money }}</span></button>

    <span class="purchase-notice">* 30 day Risk-Free Trial</span>
	</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let $checkbox = $('.subscribe-custom__checkbox--checked');

        setTimeout(() => {
            $checkbox.prop('checked', true).trigger('change');
            console.log($checkbox.prop('checked'));
        }, 0);

        let currency = '$';

        $(`.subscribe-custom__checkbox`).change(function (e) {
            let $swatchCustom = $(this).closest('.swatchCustom__item_new');
            let $subscribeCustom = $swatchCustom.find('.subscribe-custom');
            let originalPrice = $subscribeCustom.data('originalPrice');
            let discountPrice = $subscribeCustom.data('discountPrice');
            let savingsAmount = (originalPrice - discountPrice).toFixed(2);
            let $savings = $swatchCustom.find('.js_item__savings');
            let originalSavings = ($subscribeCustom.data('originalSavings').replace('$', ''));
            let totalSavings = (parseFloat(savingsAmount) + parseFloat(originalSavings)).toFixed(2);

            let $itemTotalPrice = $swatchCustom.find('.js_item__total_price');

            let price = $('.parent-items .swatchCustom__item_new.active').data(`price`);
            let priceSubscribe = (+price - (+price * 10 / 100)).toFixed(2);

            if (e.currentTarget.checked) {
                $('.total_price span').text(currency + priceSubscribe);
                $('.to_checkout__price').text(currency + priceSubscribe);
                $savings.text(currency + totalSavings);
                $itemTotalPrice.text(currency + discountPrice);
            } else {
                $('.total_price span').text(currency + price);
                $('.to_checkout__price').text(currency + price);
                $savings.text(currency + originalSavings);
                $itemTotalPrice.text(currency + originalPrice);
            }
        })

        $(`.parent-items .swatchCustom__item_new`).click(function () {
            if (!$(this).hasClass('active')) {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                $(this).parents('.parent-items').find('.subscribe-custom__checkbox').prop("checked", false).trigger('change');
                $(this).find('.subscribe-custom__checkbox').prop("checked", true).trigger('change');
            } else {
                $('.popup_btn').eq(0).click();
            }
        });

        //to checkout
        $('.to_checkout').click(async function () {
            try {
                let itemId = $('.parent-items .swatchCustom__item_new.active').data('variant');
                let planId = $('.parent-items .swatchCustom__item_new.active').data('planid');
                let $subscribeCheckbox = $('.parent-items .swatchCustom__item_new.active').find('.subscribe-custom__checkbox');

                $('.loader_custom').addClass('active');

                let cart = await fetch('/cart.js').then(res => res.json());

                let lineId = null;
                let quantity = 1;
                cart.items.forEach((item, index) => {
                    if (item.variant_id === itemId) {
                        lineId = index + 1;
                        quantity = item.quantity + 1;
                    }
                });

                planId = $subscribeCheckbox.is(':checked') ? planId : '';
                let $disabledElement = $('.ajax-cart.ajax-cart--drawer');

                if (lineId) {
                    window.PXUTheme.quantityBox.updateCart(lineId, quantity, planId, $disabledElement);
                } else {
                    let formData = {
                        items: [{
                            id: itemId,
                            quantity: 1,
                            selling_plan: planId || ''
                        }]
                    };

                    await addToCart(formData, $disabledElement);

                    let cart = await fetch('/cart.js').then(res => res.json());

                    cart.items.forEach((item, index) => {
                        if (item.variant_id === itemId) {
                            lineId = index + 1;
                            quantity = item.quantity;
                        }
                    });

                    window.PXUTheme.quantityBox.updateCart(lineId, quantity, planId, $disabledElement);
                }

                $('.loader_custom').removeClass('active')
            } catch (e) {
                console.log(e);
            }
        })

        // calculating the total price
        document.querySelectorAll('.part1 i.stamped-fa-star').forEach(item => {
            item.style.cssText = 'color: rgb(242, 180, 19) !important;'
        })

		{% if customer != blank %}

        var cid = "{{ customer.id }}";
        localStorage.setItem('customer', cid);

        fetch('https://crs-dev.fun/api/somnifix/recharge/get_subscriptions', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                'params': {
                    "shopify_customer_id": cid,
                    "status": "active"
                }
            })
        }).then(res => res.json()).then(data => {
            console.log(data)
            if (data.errors || data.subscriptions.length === 0) {
                dataLayer.push({'event': 'popup_start'});
            }
        })

		{% else %}
        localStorage.removeItem('customer');
        dataLayer.push({'event': 'popup_start'});
		{% endif %}


        document.querySelectorAll('.to_checkout').forEach((item, i) => {
            item.addEventListener('click', function () {
                if (document.querySelectorAll('.subscribe-custom__checkbox')[i].checked) {
                    dataLayer.push({'event': 'buying_subscription'});
                }
            })
        })

        async function addToCart(item) {
            return await (fetch('/cart/add.js', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(item)
            }).then(res => res.json()))
        }

    });
</script>
