<style>
    .footer-2025 {
        .icon {
            height: 24px;
            width: 24px;
        }
    }
</style>

<ul class="social-icons is-flex is-flex-wrap {{flex_alignment}}">
  {% if settings.instagram_link != '' %}
    <li>
      <a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" rel="me" target="_blank"  rel="noopener" class="icon-instagram">
        <span class="icon " data-icon="instagram">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M18.2866 6.28558H19.4294M5.14369 0.571289H18.858C21.3827 0.571289 23.4294 2.61799 23.4294 5.14272V18.857C23.4294 21.3817 21.3827 23.4284 18.858 23.4284H5.14369C2.61896 23.4284 0.572266 21.3817 0.572266 18.857V5.14272C0.572266 2.61799 2.61896 0.571289 5.14369 0.571289ZM12.0008 16.5713C9.47611 16.5713 7.42941 14.5246 7.42941 11.9999C7.42941 9.47513 9.47611 7.42843 12.0008 7.42843C14.5256 7.42843 16.5723 9.47513 16.5723 11.9999C16.5723 14.5246 14.5256 16.5713 12.0008 16.5713Z" stroke="white" stroke-opacity="0.8"/>
          </svg>
        </span>
      </a>
    </li>
  {% endif %}

  {% if settings.tiktok_link != '' %}
    <li>
      <a href="{{ settings.tiktok_link }}" title="{{ shop.name }} on TikTok" rel="me" target="_blank"  rel="noopener" class="icon-tiktok">
        <span class="icon " data-icon="instagram">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M15.4286 0V17.7143C15.4286 20.8702 12.8702 23.4286 9.71429 23.4286C6.55837 23.4286 4 20.8702 4 17.7143C4 14.5584 6.55837 12 9.71429 12M24 9.14286C19.2661 9.14286 15.4286 5.3053 15.4286 0.571429" stroke="white" stroke-opacity="0.8"/>
          </svg>
        </span>
      </a>
    </li>
  {% endif %}

  {% if settings.facebook_link != '' %}
      <li>
          <a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" rel="me" target="_blank"  rel="noopener" class="icon-facebook">
      <span class="icon " data-icon="instagram">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M12.0008 23.4284C5.68901 23.4284 0.572266 18.3117 0.572266 11.9999C0.572266 5.68804 5.68901 0.571289 12.0008 0.571289C18.3127 0.571289 23.4294 5.68804 23.4294 11.9999C23.4294 18.3117 18.3127 23.4284 12.0008 23.4284ZM12.0008 23.4284V9.71415C12.0008 8.45178 13.0242 7.42843 14.2866 7.42843H16.0008M8.00084 14.2856H16.0008" stroke="white" stroke-opacity="0.8"/>
        </svg>
      </span>
          </a>
      </li>
  {% endif %}

  {% if settings.x_link != '' %}
    <li>
      <a href="{{ settings.x_link }}" title="{{ shop.name }} on X" rel="me" target="_blank"  rel="noopener" class="icon-x">
        <span class="icon " data-icon="instagram">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <path d="M22.0704 1L13.3324 10.0411M13.3324 10.0411L6.88732 1.60274H1.30986L10.2958 13.3678M13.3324 10.0411L23 22.6986H17.4225L10.2958 13.3678M10.2958 13.3678L1 23" stroke="white" stroke-opacity="0.8"/>
          </svg>
        </span>
      </a>
    </li>
  {% endif %}

  {% if settings.behance_link != '' %}
    <li>
      <a href="{{ settings.behance_link }}" title="{{ shop.name }} on Behance" rel="me" target="_blank"  rel="noopener" class="icon-behance">
        {% render 'icon', name: 'behance' %}
      </a>
    </li>
  {% endif %}

  {% if settings.clubhouse_link != '' %}
    <li>
      <a href="{{ settings.clubhouse_link }}" title="{{ shop.name }} on Clubhouse" rel="me" target="_blank"  rel="noopener" class="icon-clubhouse">
        {% render 'icon', name: 'clubhouse' %}
      </a>
    </li>
  {% endif %}

  {% if settings.discord_link != '' %}
    <li>
      <a href="{{ settings.discord_link }}" title="{{ shop.name }} on Discord" rel="me" target="_blank"  rel="noopener" class="icon-discord">
        {% render 'icon', name: 'discord' %}
      </a>
    </li>
  {% endif %}

  {% if settings.dribbble_link != '' %}
    <li>
      <a href="{{ settings.dribbble_link }}" title="{{ shop.name }} on Dribbble" rel="me" target="_blank"  rel="noopener" class="icon-dribbble">
        {% render 'icon', name: 'dribbble' %}
      </a>
    </li>
  {% endif %}

  {% if settings.email_link != '' %}
    <li>
      <a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }}" target="_blank"  rel="noopener" class="icon-email">
        {% render 'icon', name: 'email' %}
      </a>
    </li>
  {% endif %}

  {% if settings.flickr_link != '' %}
    <li>
      <a href="{{ settings.flickr_link }}" title="{{ shop.name }} on Flickr" rel="me" target="_blank"  rel="noopener" class="icon-flickr">
        {% render 'icon', name: 'flickr' %}
      </a>
    </li>
  {% endif %}

  {% if settings.houzz_link != '' %}
    <li>
      <a href="{{ settings.houzz_link }}" title="{{ shop.name }} on Houzz" rel="me" target="_blank"  rel="noopener" class="icon-houzz">
        {% render 'icon', name: 'houzz' %}
      </a>
    </li>
  {% endif %}

  {% if settings.kickstarter_link != '' %}
    <li>
      <a href="{{ settings.kickstarter_link }}" title="{{ shop.name }} on Kickstarter" rel="me" target="_blank"  rel="noopener" class="icon-kickstarter">
        {% render 'icon', name: 'kickstarter' %}
      </a>
    </li>
  {% endif %}

  {% if settings.linkedin_link != '' %}
    <li>
      <a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" rel="me" target="_blank"  rel="noopener" class="icon-linkedin">
        {% render 'icon', name: 'linkedin' %}
      </a>
    </li>
  {% endif %}

  {% if settings.medium_link != '' %}
    <li>
      <a href="{{ settings.medium_link }}" title="{{ shop.name }} on Medium" rel="me" target="_blank"  rel="noopener" class="icon-medium">
        {% render 'icon', name: 'medium' %}
      </a>
    </li>
  {% endif %}

  {% if settings.messenger_link != '' %}
    <li>
      <a href="{{ settings.messenger_link }}" title="{{ shop.name }} on Messenger" rel="me" target="_blank"  rel="noopener" class="icon-messenger">
        {% render 'icon', name: 'messenger' %}
      </a>
    </li>
  {% endif %}

  {% if settings.opensea_link != '' %}
    <li>
      <a href="{{ settings.opensea_link }}" title="{{ shop.name }} on OpenSea" rel="me" target="_blank"  rel="noopener" class="icon-opensea">
        {% render 'icon', name: 'opensea' %}
      </a>
    </li>
  {% endif %}

  {% if settings.pinterest_link != '' %}
    <li>
      <a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" rel="me" target="_blank"  rel="noopener" class="icon-pinterest">
        {% render 'icon', name: 'pinterest' %}
      </a>
    </li>
  {% endif %}

  {% if settings.reddit_link != '' %}
    <li>
      <a href="{{ settings.reddit_link }}" title="{{ shop.name }} on Reddit" rel="me" target="_blank"  rel="noopener" class="icon-reddit">
        {% render 'icon', name: 'reddit' %}
      </a>
    </li>
  {% endif %}

  {% if settings.rss_link != '' %}
    <li>
      <a href="{{ settings.rss_link }}" title="{{ shop.name }} on RSS" rel="me" target="_blank"  rel="noopener" class="icon-rss">
        {% render 'icon', name: 'rss' %}
      </a>
    </li>
  {% endif %}

  {% if settings.snapchat_link != '' %}
    <li>
      <a href="{{ settings.snapchat_link }}" title="{{ shop.name }} on Snapchat" rel="me" target="_blank"  rel="noopener" class="icon-snapchat">
        {% render 'icon', name: 'snapchat' %}
      </a>
    </li>
  {% endif %}

  {% if settings.spotify_link != '' %}
    <li>
      <a href="{{ settings.spotify_link }}" title="{{ shop.name }} on Spotify" rel="me" target="_blank"  rel="noopener" class="icon-spotify">
        {% render 'icon', name: 'spotify' %}
      </a>
    </li>
  {% endif %}

  {% if settings.tumblr_link != '' %}
    <li>
      <a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" rel="me" target="_blank"  rel="noopener" class="icon-tumblr">
        {% render 'icon', name: 'tumblr' %}
      </a>
    </li>
  {% endif %}

  {% if settings.twitch_link != '' %}
    <li>
      <a href="{{ settings.twitch_link }}" title="{{ shop.name }} on Twitch" rel="me" target="_blank"  rel="noopener" class="icon-twitch">
        {% render 'icon', name: 'twitch' %}
      </a>
    </li>
  {% endif %}

  {% if settings.vimeo_link != '' %}
    <li>
      <a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" rel="me" target="_blank"  rel="noopener" class="icon-vimeo">
        {% render 'icon', name: 'vimeo' %}
      </a>
    </li>
  {% endif %}

  {% if settings.whatsapp_link != '' %}
    <li>
      <a href="{{ settings.whatsapp_link }}" title="{{ shop.name }} on WhatsApp" rel="me" target="_blank"  rel="noopener" class="icon-whatsapp">
        {% render 'icon', name: 'whatsapp' %}
      </a>
    </li>
  {% endif %}

  {% if settings.youtube_link != '' %}
    <li>
      <a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" rel="me" target="_blank"  rel="noopener" class="icon-youtube">
        {% render 'icon', name: 'youtube' %}
      </a>
    </li>
  {% endif %}
</ul>
